{% extends 'base.html.twig' %}

{% block body %}
    <h2>Stats</h2>
    <p>
    <a href="{{ path('app_app') }}">Back to home</a>
    </p>
    <hr />
    <div class='row'>
        <div class='col-6'>
            <table class='table table-sm table-hover'>
                <thead>
                    <tr>
                        <th>Termine</th>
                        <th>Zahl (Summe)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for termin in allTerminsArray %}
                        <tr>
                        <td> {{ termin.terminname }} </td>
                        <td> {{ termin.count }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-bordered table-hover">
                <thead>
                    <tr>
                        <th class='lightyellow_bg'>Monat</th>
                        <th class='lightyellow_bg'>Eingeladene TN im Monat</th>
                        <th class='lila_bg'>Starttermin im Monat</th>
                        <th class='lightyellow_bg'>Wie geplant gestartet <br>(Ja)</th>
                        <th class='lightyellow_bg'>Wie geplant gestartet <br>(Nein)</th>
                        <th class='lila_bg'>Aktive TN <br>[taggleich]</th>
                        <th class='lightgreen_bg'>Nicht angetretene TN im Monat</th>
                        <th class='lightyellow_bg'>Angetretene TN, <br>aber vorzeitig abgebrochen / beendet</th>
                        <th class='lightyellow_bg'>TN, erfolgreich beendet</th>
                        <th class='green_bg'>Durchnchnittstermine <br> der erfolgreich beendeten TN</th>
                        <th class='lila_bg'>Termine [ingesamt] im Monat <br>vergeben [betrifft auch Folgemont]</th>
                        <th class='lila_bg'>Termine [ingesamt] im Monat verschoben <br> [betrifft auch Folgemonat]</th>
                        <th class='lightyellow_bg'>Ausgeschiedene TN <br>[insgesamt] im Monat</th>
                        <th class='lightblue_bg'>Tasächlich durchgeführte <br>Termine im Monat</th>
                        <th class='orange_bg'>Durchschnittl. Verweildauer <br>in Wochen / TN [ingesamt] </th>
                        <th class='orange_bg'>Durchschnittl. Verweildauer <br>in Wochen / TN [nur EB]</th>
                        <th class='red_bg'>Durchschnittl. Wartezeit <br>Zuweisung bis Einladung <br>[Arbeitstage]</th>
                    </tr>
                </thead>
                <tbody>
                    {% for month in allMonths %}
                    <tr>
                        <td>{{ month }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}