{% extends 'home_base.html.twig' %}

{% block title %}BeST App Ever!{% endblock %}

{% block body %}
    <div class='container'>
        <div class="row">
            <h3>Anmeldung</h3>
        </div>
        {% if(errormsg) %}
            <div class='row'>
                <div class='btn btn-warning'>{{ errormsg }}</div>
            </div>
        {% endif %}
        <div class='row'>
            <div class='"col-xl-2 col-lg-4 col-md-6 col-sm-12 col-xs-12"'>
            {{form(login_form)}}
            </div>
        </div>
    </div>
{% endblock %}
