body{
    font-size: 13px;
    background-color: white;
    color: black;
    padding: 20px;
    margin: 20px;
    min-height: 800px;
    border: 4px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 3px 3px 5px black;
}
html{
    font-family: Arial;
    background-color: white;  
}

.table th{
    text-align: center;
    vertical-align: text-top;
}
.table-danger{
    border: 1px solid black !important;
}
.table-primary{
    border: 1px solid black !important;
}
.table-success{
    border: 1px solid black !important;
}
.table-warning{
    border: 1px solid black !important;
}

.lila_bg{
    background-color: rgba(238, 130, 238, 0.39) !important;
}
.lightyellow_bg{
    background-color: rgba(255, 255, 224, 0.39) !important;
}
.lightgreen_bg{
    background-color: rgba(144, 238, 144, 0.39) !important;
}
.green_bg{
    background-color: rgba(0, 100, 0, 0.39) !important;
    color: black;
}
.lightblue_bg{
    background-color: rgba(173, 216, 230, 0.39) !important;
}
.red_bg{
    background-color: rgba(255, 0, 0, 0.39) !important;
}
.orange_bg{
    background-color: rgba(255, 165, 0, 0.39) !important;
}