{% extends "home_base.html.twig" %}

{% block title %} Edit Termin {% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style='margin-top: 25px;'>
            <div class="col">{{ termin.termindatum|date('d.m.Y') }}</div>
            <div class="col">{{ termin.termintype }}</div>
            <div class="col">{% if(termin.verschoben) %} Ja {% endif %}</div>
            <div class="col">
                <a 
                href="{{ path('app_termin_delete',{ terminId: termin.id }) }}" 
                class='btn btn-sm btn-danger'>Entfernen
                </a>
            </div>
        </div>
        
        <hr />

        <div class="row" style='margin-top: 25px;'>
            
            <div class="col-sm-6">
                
                
                {{ form(editform) }}
                

            </div>
        </div>
    </div>
{% endblock %}