{% extends 'home_base.html.twig' %}

{%block title %}Teilnehmer{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style='padding-top: 30px;'>
            <div class='col-6'>
            {{ form(addForm) }}
            </div>
        </div>
    </div>
{% endblock %}