{% extends "home_base.html.twig" %}

{% block body %}
    <div class='container'>
        <div class='row' style='padding: 150px;font-size: 28px; text-align: center;'>
            <div class='col-2'></div>
            <div class='col-8'>
                <strong>{{ msg_text }}</strong>

                <p>
                <a href={{backurl}}>Zurück</a>
                </p>
            </div>
            <div class='col-2'></div>
        </div>
    </div>
{% endblock %}